<div>{{title}}</div>

<ul class="devices">
  <li *ngFor="let location of locations" (click)="onSelected(location)"
      [class.selected]="location === selectedBox">
    <span class="type">{{location.type}}</span>
    <span>{{location.uuid}}</span>
  </li>
</ul>

<agm-map [latitude]="latFirst" [longitude]="lngFirst" [zoom]="zoom">

    <agm-marker *ngFor="let location of locations"
      [label]="location?.uuid"
      [latitude]="location?.coords[location?.coords.length-1].lat"
      [longitude]="location?.coords[location?.coords.length-1].lng">
    </agm-marker>

    <agm-polyline *ngFor="let location of locations; let i = index" [strokeColor]="strokeColors[i]">
       <agm-polyline-point *ngFor="let coord of location?.coords"
        [latitude]="coord?.lat"
        [longitude]="coord?.lng">
       </agm-polyline-point>
    </agm-polyline>

</agm-map>
